* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
  /* background: #999693; */
  background: url(https://source.unsplash.com/pY9OvNNey24/1600x900);
  background-size: cover;

  min-height: 100vh;
  color: #d2c0fd;
}

h1 {
  margin-bottom: 25px;
}

/* .number-inputs {
  margin-bottom: 20px;
} */

input {
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 20px 40px;
  border: 1px solid #d2c0fd;
  width: 45%;
  padding: 10px 10px;
  text-align: center;
  background: #d2c0fd;
  color: #5938a7;
}

input:first-child {
  margin-right: 20px;
}

button {
  padding: 10px 0px;
  font-size: 30px;
  border-radius: 20px 40px;
  background: #f07817;
  border: none;
  margin-top: 10px;
  width: 45%;

  color: #d7cbf7;
  cursor: pointer;
}

h2 {
  font-size: 40px;
  padding: 50px;
}

h3 {
  margin-bottom: 5px;
}
